.footerMain{
    background-color: #541af1;
    color: white !important;
}
.footerLink h4{
    margin-bottom: 15px;
}
.footerLink h6{
    margin-bottom: 10px;
    cursor: pointer;
}
.lastText{
    background-color: #541af1;
}